@import '../../responsive.scss';

.header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #dee0ea;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-mobile {
      display: none;

      @include sm {
        display: flex;
        align-items: center;
        justify-content: center;
      }


      .header-mobile-open-icon {
        font-size: 30px;
      }
    }

    .header-left {
      font-size: 24px;
      font-weight: 600;
    }

    .header-center {

      @include sm { 
        display: none;
      }

      .nav-list {
        display: flex;
        gap: 35px;

        .nav-item {
          height: 90px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1.2px;

          .nav-link {
            padding: 5px 0;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 2px;
              background-color: #2a9d8f;
              transition: .3s ease-in-out all;
            }

            &.active::after {
              width: 100%;
            }
          }

          &:hover .nav-link::after {
            width: 100%;
          }
        } 
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      justify-content: center;

      .header-cart {
        position: relative;

        .header-cart-link.active {
          .header-cart-icon {
            opacity: 0.8;
          }
        }

        .header-cart-icon {
          font-size: 25px;
        }

        .header-cart-count {
          position: absolute;
          color: #fff;
          background-color: #2a9d8f;
          height: 20px;
          width: 20px;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          top: -10px;
          right: -18px;
        }
      }
    }
  }
}

//! RESP Navbar

.header-center.responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    font-size: 20px;
    padding: 75px;

    .nav-item {
      .nav-link {
        padding: 5px 0;
        position: relative;
  
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: #2a9d8f;
          transition: .3s ease-in-out all;
        }
  
        &.active::after {
          width: 100%;
        }
      }

      &:hover .nav-link::after {
        width: 100%;
      }
    }
  }
}