.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 40;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee0ea;
  background-color: #fff;
  border-radius: 100%;
  transition: .3s ease-out all;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .slider-navigate-icon {
    font-size: 40px;
  }

  &.next {
    right: 10px;
  }

  &.prev {
    left: 10px;
  }

  &:hover {
    background-color: black;

    .slider-navigate-icon {
      color: #fff;
    }
  }
}
